---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import heroIndexImage from "../assets/images/hero-index.jpg";
import image1 from "../assets/images/index-imge-1.jpg";
import image2 from "../assets/images/index-imge-2.jpg";
import image3 from "../assets/images/index-imge-3.jpg";
import image4 from "../assets/images/index-imge-4.jpg";

const features: Array<{ title: string; icon: string }> = [
  {
    title: "Ist Ihr System zu langsam?",
    icon: "heroicons:squares-plus",
  },
  {
    title:
      "Sind Sie nicht sicher wie, das BIOS Ihres Computers und Windows Games zu aktualisieren?",
    icon: "heroicons:squares-2x2",
  },
  {
    title: "Braucht Ihr Windows länger als 5 Minuten zum Hochfahren?",
    icon: "heroicons:clock",
  },
  {
    title: "Läuft alles kläglich langsam?",
    icon: "heroicons:truck",
  },
  {
    title: "Und Ihr Puls beschleunigt sich?",
    icon: "heroicons:arrow-trending-up",
  },
  {
    title:
      "Hat man Ihnen schon gesagt, dass Sie einen neuen Computer brauchen?",
    icon: "heroicons:bell-alert",
  },
];
---

<Layout title="Temas PC Technik: Bleib sicher">
  <div class="absolute z-0 w-full h-screen overflow-hidden">
    <Image
      class="absolute w-full h-full z-0 object-cover -top-[15%] lg:object-center"
      format="avif"
      quality="high"
      src={heroIndexImage}
      alt="Bleib sicher"
    />
    <div
      class="absolute z-10 bottom-0 left-0 w-full h-2/3 bg-gradient-to-t from-white via-white via-60%"
    >
    </div>
  </div>
  <main class="relative z-10 container mx-auto py-36 grid gap-40">
    <div class="gird pt-24">
      <div class="grid grid-flow-col place-items-center justify-items-stretch">
        <span class="border-b border-white justify-self-auto hidden md:block"
        ></span>
        <h1
          class="text-white font-semibold text-3xl 2xl:text-5xl text-center justify-self-center leading-relaxed max-w-80 md:max-w-xl 2xl:max-w-[690px] drop-shadow-[0_4px_1px_rgba(0,0,0,0.25)]"
        >
          PC Reparatur - Wir reparieren Computer & Laptops
        </h1>
        <span class="border-b border-white justify-self-auto hidden md:block"
        ></span>
      </div>
      <div class="mx-auto grid gap-8 max-w-[1280px] mt-52">
        <p
          class="text-center text-gigas text-xl lg:text-2xl xl:text-3xl leading-relaxed"
        >
          Haben Sie Probleme mit Ihrem Computer oder Laptop ? Wir helfen Ihnen,
          Ihre Geräte wieder funktionsfähig zumachen.
        </p>
        <p
          class="text-center text-gigas lg:text-lg 2xl:text-xl leading-relaxed"
        >
          Wir sind ein lokaler, flexibler Reparaturservice in Hannover. Jegliche
          Geräte sind bei uns willkommen, seien es PCs, Gamer PC und Laptops. Wir
          haben uns einzig und allein der Reparatur gewidmet und feiern jedes dieser
          erfolgreichen Reparaturen. Wir lieben es die Lebensdauer «alter» Geräte
          zu verlängern, die sonst im Elektroschrott landen würden.
        </p>
      </div>
    </div>
    <div class="grid gap-10">
      <div class="grid grid-flow-col place-items-center justify-items-stretch">
        <span class="border-b border-gigas-300 justify-self-auto"></span>
        <h1
          class="text-gigas-600 font-semibold text-nowrap text-2xl max-w-sm lg:max-w-none lg:text-4xl text-center justify-self-center"
        >
          Nicht mit uns!
        </h1>
        <span class="border-b border-gigas-300 justify-self-auto"></span>
      </div>
      <ul
        class="mx-auto bg-west-side-500 grid max-w-7xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
      >
        {
          features.map(({ title, icon }) => (
            <li class="flex flex-col items-center gap-4 text-white border border-white bg-offset p-6">
              <div class="size-16 rounded-full border-2 border-current p-3">
                <Icon name={icon} class="size-full" />
              </div>
              <p class="text-center font-extrabold text-xl">{title}</p>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="grid gap-10">
      <div class="grid grid-flow-col place-items-center justify-items-stretch">
        <span class="border-b border-gigas-300 justify-self-auto"></span>
        <h1
          class="text-gigas-600 font-semibold text-2xl max-w-72 lg:text-4xl lg:max-w-[600px] text-center justify-self-center"
        >
          Wir sagen Ihnen genau, was Ihr alter Freund braucht.
        </h1>
        <span class="border-b border-gigas-300 justify-self-auto"></span>
      </div>
      <h2
        class="text-gigas-600 text-xl lg:text-2xl text-center justify-self-center"
      >
        Wir sagen Ihnen genau, was Ihr alter Freund braucht.
      </h2>
      <div class="grid grid-cols-1 grid-flow-row lg:grid-cols-4">
        <div class="w-full h-60 overflow-hidden p-2">
          <Image
            class="relative w-full h-full object-cover object-top rounded-xl"
            format="avif"
            quality="high"
            src={image1}
            alt="Bleib sicher"
          />
        </div>
        <div
          class="grid items-center w-full h-60 rounded-xl overflow-hidden border-4 lg:border-8 border-west-side-500 p-6 select-none cursor-pointer transition ease-in-out delay-150 bg-white hover:-translate-y-1 hover:shadow-lg duration-300"
        >
          <p class="text-center text-lg text-gigas-600">
            Jeder kann alle Versionen von Windows installieren, aber wissen Sie,
            wie man es mit den richtigen Einstellungen und ohne Fehler macht?
          </p>
        </div>

        <div class="w-full h-60 overflow-hidden p-2">
          <Image
            class="relative w-full h-full object-cover object-center rounded-xl"
            format="avif"
            quality="high"
            src={image2}
            alt="Bleib sicher"
          />
        </div>
        <div
          class="grid items-center w-full h-60 rounded-xl overflow-hidden border-4 lg:border-8 border-west-side-500 p-6 select-none cursor-pointer transition ease-in-out delay-150 bg-white hover:-translate-y-1 hover:shadow-lg duration-300"
        >
          <p class="text-center text-lg text-gigas-600">
            Funktioniert Ihr WLAN nicht so, wie Sie es sich wünschen, oder kommt
            es zu Ausfällen?
          </p>
        </div>
        <!-- GRID MIDDLE -->
        <div
          class="grid items-center w-full h-60 rounded-xl overflow-hidden border-4 lg:border-8 border-west-side-500 p-6 order-6 lg:order-5 select-none cursor-pointer transition ease-in-out delay-150 bg-white hover:-translate-y-1 hover:shadow-lg duration-300"
        >
          <p class="text-center text-lg text-gigas-600">
            Ist Ihnen klar, dass Sie Ihre Software und Windows aktualisieren
            müssen, um Spiele zu spielen?
          </p>
        </div>
        <div class="w-full h-60 overflow-hidden p-2 order-5 lg:order-6">
          <Image
            class="relative w-full h-full object-cover object-center rounded-xl"
            format="avif"
            quality="high"
            src={image3}
            alt="Bleib sicher"
          />
        </div>
        <div
          class="grid items-center w-full h-60 rounded-xl overflow-hidden border-4 lg:border-8 border-west-side-500 p-6 order-last lg:order-7 select-none cursor-pointer transition ease-in-out delay-150 bg-white hover:-translate-y-1 hover:shadow-lg duration-300"
        >
          <p class="text-center text-lg text-gigas-600">
            Sie können keine Werbung beim Surfen im Internet blockieren?
          </p>
        </div>
        <div class="w-full h-60 overflow-hidden p-2 order-7 lg:order-last">
          <Image
            class="relative w-full h-full object-cover object-center rounded-xl"
            format="avif"
            quality="high"
            src={image4}
            alt="Bleib sicher"
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
